In [1]:
from typing import *

import torch 
import numpy as np 
import shutil 
import json 
import zipfile 
import io 
import pytorch_lightning as pl 
from scipy.sparse import csc_matrix 
from pathlib import Path 
import torch.nn.functional as F
from torchmetrics.functional import accuracy, precision, recall 
from pytorch_tabnet.tab_network import TabNet
import copy
import warnings

import sys, os 
sys.path.append('../src')

from torchmetrics.functional import *
import torchmetrics 

from data import *
from lightning_train import *
from model import *

from torchmetrics.functional.classification.stat_scores import _stat_scores_update, _stat_scores
from sklearn.metrics import classification_report
from bigcsv import to_h5ad

In [2]:
pd.read_csv('../data/dental/labels_human_dental.tsv', sep=None)

/var/folders/pd/jsjcl0fn7w57s5mfr34b20pm0000gn/T/ipykernel_88606/2847047300.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  pd.read_csv('../data/dental/labels_human_dental.tsv', sep=None)

,cell_id,cluster,categorical_cell_type,cluster_celltype,sample_source,cell_type
0,human_germinectomy_1_one_AAACCTGTCAACTCTT-1,5,8,5 - pulp,human_germinectomy,8
1,human_germinectomy_1_one_AAACGGGCATTGCGGC-1,5,8,5 - pulp,human_germinectomy,8
2,human_germinectomy_1_one_AAACGGGGTGCCTGTG-1,13,8,13 - pulp,human_germinectomy,8
3,human_germinectomy_1_one_AAAGATGTCACTCTTA-1,9,8,9 - pulp,human_germinectomy,8
4,human_germinectomy_1_one_AAAGCAACAACCGCCA-1,15,6,15 - other immune cells,human_germinectomy,6
...,...,...,...,...,...,...
41668,No5_24_yo_healthy_retained_one_TTTGTTGGTCGTCATA-1,1,8,1 - pulp,No5_24_yo_healthy_retained,8
41669,No5_24_yo_healthy_retained_one_TTTGTTGGTCTGTGCG-1,7,3,7 - glial,No5_24_yo_healthy_retained,3
41670,No5_24_yo_healthy_retained_one_TTTGTTGGTTATGTCG-1,9,8,9 - pulp,No5_24_yo_healthy_retained,8
41671,No5_24_yo_healthy_retained_one_TTTGTTGTCGCAGTTA-1,9,8,9 - pulp,No5_24_yo_healthy_retained,8
41672,No5_24_yo_healthy_retained_one_TTTGTTGTCGGTTCAA-1,1,8,1 - pulp,No5_24_yo_healthy_retained,8

In [3]:
mouse_labels = pd.read_csv('../data/benchmark/mouse_labels.csv')
human_labels = pd.read_csv('../data/benchmark/human_labels.csv')

/var/folders/pd/jsjcl0fn7w57s5mfr34b20pm0000gn/T/ipykernel_88606/3098124994.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  mouse_labels = pd.read_csv('../data/benchmark/mouse_labels.csv')

In [61]:
human_data = an.read_h5ad('../data/benchmark/human.h5ad')
mouse_data = an.read_h5ad('../data/benchmark/mouse_clipped.h5ad')

/Users/julian/miniconda3/envs/base-data-science/lib/python3.9/site-packages/anndata/_core/anndata.py:120: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

Let's clean the cell type labels for human data since there are some NaN values

In [4]:
fixed_human = human_labels.dropna(subset=['subclass_label'])
fixed_human.index.name = 'cell'
fixed_human = fixed_human.reset_index(drop=False)

fixed_human.to_csv('../data/benchmark/human_labels_clean.csv', index=False)

In [6]:
pd.read_csv('../data/benchmark/human_labels_clean.csv')['subclass_label']

0                    VIP
1                  LAMP5
2                  LAMP5
3                    VIP
4                    VIP
              ...
47427          Astrocyte
47428                 IT
47429              LAMP5
47430    Oligodendrocyte
47431    Oligodendrocyte
Name: subclass_label, Length: 47432, dtype: object

And again for the mouse labels

In [7]:
fixed_mouse = mouse_labels.dropna(subset=['subclass_label'])
fixed_mouse.index.name = 'cell'
fixed_mouse = fixed_mouse.reset_index(drop=False)

fixed_mouse.to_csv('../data/benchmark/mouse_labels_clean.csv', index=False)

In [65]:
mouse_labels['subclass_label'].isna().sum()

0

In [48]:
assert mouse_labels.shape[0] == mouse_data.shape[0]

In [49]:
assert human_labels.shape[0] == human_data.shape[0]

In [24]:
pd.read_csv(labelfiles[0]).loc[:, 'subclass_label'].unique()

array([nan, 'VIP', 'LAMP5', 'IT', 'PAX6', 'Oligodendrocyte', 'Astrocyte',
       'L5/6 IT Car3', 'L5/6 NP', 'SST', 'L6 CT', 'OPC', 'PVALB', 'L6b',
       'Microglia', 'L5 ET', 'Pericyte', 'Endothelial', 'L4 IT', 'VLMC'],
      dtype=object)

Since there are some extra sample in the mouse data, we'll take the intersection of the samples labeled and those in the entire dataset, and write it out to a new file.

In [13]:
# comb = list(set(mouse_data.obs['index'].values).intersection(mouse_labels['sample_name']))
# to_keep = mouse_data.obs[mouse_data.obs['index'].isin(comb)].index.astype(int)

# clipped = an.AnnData(
#     X=mouse_data.X[to_keep, :],
#     obs=mouse_data.obs[mouse_data.obs['index'].isin(comb)],
#     var=mouse_data.var
# )
# clipped.write('../data/benchmark/mouse_clipped.h5ad')

Let's look at which genes intersect between the two datasets

In [15]:
hg = [x.upper() for x in human_data.var.index]
mg = [x.upper() for x in mouse_data.var.index]

len(set(hg).intersection(mg))

16519